
.container{
    width: 220px;
    height: 50px;
    font-size: 30px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(224, 45, 33, .80);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.container:hover{
    background: rgba(224, 45, 33, .5);
    color: rgba(255, 255, 255, 1);
}